<section class="hero-item">
  <div class="container hero-container">
    <h1 class="hero-tittle visually-hidden">hero title</h1>
    <p class="hero-text">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </p>
    <div class="control-btn">
      <button type="submit" class="buy-btn" modal-buy-now>Buy now</button>
      <a class="how-its-made" href="#made">How it’s made</a>
      <a class="scr-btn" href="#footer">
        scroll down
        <div class="scr-btn-icon-wrapper">
          <svg class="scr-btn-icon" width="15" height="15">
            <use href="../img/icons.svg#hero-icon-scr-btn"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
