<div class="modal review-modal-container" data-modal="3">
  <button type="button" class="review-window-modal-button js-modal-close">
    <svg class="review-btn-close-icon" width="18" height="18">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
  </button>
  <h2 class="buy-modal-window-title title-review-modal-black">
    leave a review about
    <span class="buy-modal-window-span title-review-modal-orange">our chocolate</span>
  </h2>
  <form class="buy-now-form">
    <label class="buy-form-label" autofocus>
      <div class="input-container">
        <input
          class="buy-form-input input-review-modal"
          type="name"
          name="name"
          placeholder="Name"
        />
      </div>
    </label>
    <label class="buy-form-label" autofocus>
      <div class="input-container">
        <input
          class="buy-form-input input-review-modal"
          type="text"
          name="email"
          placeholder="Enter your email"
        />
      </div>
    </label>
    <label class="buy-form-label" autofocus>
      <div class="input-container">
        <input
          class="buy-form-input number input-review-modal"
          type="number"
          name="number"
          placeholder="Phone number"
        />
      </div>
    </label>
    <label class="buy-form-label" autofocus>
      <div class="input-container">
        <input
          class="buy-form-comment text-input-review-modal"
          type="text"
          name="comment"
          placeholder="Enter text"
        />
      </div>
    </label>
    <div class="buy-form-submit">
      <button type="submit" class="buy-form-button-submit">
        <span class="form-submit-span">Send</span>
      </button>
    </div>
  </form>
</div>
