<!-- Buy window -->
<div class="modal buy-modal-container" data-modal="4" >
    <button type="button" class="buy-window-modal-button js-modal-close">
      <svg class="buy-window-modal-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <h2 class="buy-modal-window-title">
        leave a review about <span class="buy-modal-window-span">our chocolate</span>
    </h2>
    <form class="buy-now-form">
      <label class="buy-form-label" autofocus>
        <div class="input-container">
          <input
            class="buy-form-input"
            type="name"
            name="name"
            placeholder="Name"
          />
        </div>
      </label>
      <label class="buy-form-label" autofocus>
        <div class="input-container">
          <input
            class="buy-form-input"
            type="text"
            name="email"
            placeholder="Enter your email"
          />
        </div>
      </label>
      <label class="buy-form-label" autofocus>
        <div class="input-container">
          <input
            class="buy-form-input number"
            type="number"
            name="number"
            placeholder="Phone number"
          />
        </div>
      </label>
      <label class="buy-form-label" autofocus>
        <div class="input-container">
          <input
            class="buy-form-comment"
            type="text"
            name="comment"
            placeholder="Enter text"
          />
        </div>
      </label>
      <div class="buy-form-submit">
        <button type="submit" class="buy-form-button-submit">
          <span class="form-submit-span">Send</span>
        </button>
      </div>
    </form>
  </div>
  