<!-- section-reviews -->

<section class="section-review" id="choco-loved">
  <div class="container">
    <h3 class="title-chocolate-review">
      <span class="chocolate-review">chocolate</span> is loved
    </h3>
    <div class="swiper-review swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="list-review">
            <img
              class="images-list-review"
              src="./img/review/Victoria-Dobrzhanska.png"
              alt="Victoria Dobrzhanska"
              width="80"
              height="80"
            />
            <h3 class="subtitle-review">Victoria Dobrzhanska</h3>
            <p class="text-review">
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="list-review">
            <img
              class="images-list-review"
              src="./img/review/Nazar-Babenko.png"
              alt="Nazar Babenko"
              width="80"
              height="80"
            />
            <h3 class="subtitle-review">Nazar Babenko</h3>
            <p class="text-review">
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="list-review">
            <img
              class="images-list-review"
              src="./img/review/Olena-Kampusch.png"
              alt="Olena Kampusch"
              width="80"
              height="80"
            />
            <h3 class="subtitle-review">Olena Kampusch</h3>
            <p class="text-review">
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="list-review">
            <img
              class="images-list-review"
              src="./img/review/Natalia-Sus.png"
              alt="Natalia Sus"
              width="80"
              height="80"
            />
            <h3 class="subtitle-review">Natalia Sus</h3>
            <p class="text-review">
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="list-review">
            <img
              class="images-list-review"
              src="./img/review/Danilo-Nottingham.png"
              alt="Danilo Nottingham"
              width="80"
              height="80"
            />
            <h3 class="subtitle-review">Danilo Nottingham</h3>
            <p class="text-review">
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="list-review">
            <img
              class="images-list-review"
              src="./img/review/Irina-Tydnyuk.png"
              alt="Irina Tydnyuk"
              width="80"
              height="80"
            />
            <h3 class="subtitle-review">Irina Tydnyuk</h3>
            <p class="text-review">
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-review-pagination"></div>
    </div>

    <!-- <div class="swiper-pagination"></div> -->
    <button
      type="button"
      class="button-leave-review js-open-modal"
      data-modal="3"
    >
      Leave a review
    </button>
  </div>
</section>
