<section class="unique-components">
    <h2 class="components-tittle">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="components-span">TASTE</span> SENSATION</h2>
    <p class="components-motto">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
   
       <ul class="components-list">
        <li class="components-item">
            <div class="components-box">
               <picture class="components-card">
                        <!-- Desktop -->
                        <source
                          media="(min-width: 1200px)"
                          srcset="./img/components/kisspng-chocolate_1_desk@1x.png 1x, ./img/components/kisspng-chocolate_1_desk@2x.png 2x"
                          type="image/png"/>
                        <!-- Tablet, mobile -->
                        <source
                          media="(max-width: 1199px)"
                          srcset="./img/components/kisspng-chocolate_1_mob@1x.png 1x, ./img/components/kisspng-chocolate_1_mob@2x.png 2x"
                          type="image/png"
                        />
                        <img
                          class=""
                          src="./img/components/kisspng-chocolate_1_mob@1x.png"
                          alt="milk chokolate" 
                          width="224"
                          height="171"
                          loading="lazy"
                        />
                </picture>
                <p class="components-box-item">MILK CHOCOLATE</p>
            </div>
        </li>
        <li class="components-item"> 
            <div class="components-box">
                <picture class="components-card">
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1200px)"
                      srcset="./img/components/kisspng-chocolate_2_desk@1x.png 1x, ./img/components/kisspng-chocolate_2_desk@2x.png 2x"
                      type="image/png"/>
                    <!-- Tablet, mobile -->
                    <source
                      media="(max-width: 1199px)"
                      srcset="./img/components/kisspng-chocolate_2_mob@1x.png 1x, ./img/components/kisspng-chocolate_2_mob@2x.png 2x"
                      type="image/png"
                    />
                    <img
                      class=""
                      src="./img/components/kisspng-chocolate_2_mob@1x.png"
                      alt="milk" 
                      width="224"
                      height="171"
                      loading="lazy"
                    />
                   </picture>
                   <p class="components-box-item-dark">MILK</p>
        </div>
        </li>
        <li class="components-item">
            <div class="components-box">
                    <picture class="components-card">
                        <!-- Desktop -->
                        <source
                          media="(min-width: 1200px)"
                          srcset="./img/components/kisspng-chocolate_3_desk@1x.png 1x, ./img/components/kisspng-chocolate_3_desk@2x.png 2x"
                          type="image/png"/>
                        <!-- Tablet, mobile -->
                        <source
                          media="(max-width: 1199px)"
                          srcset="./img/components/kisspng-chocolate_3_mob@1x.png 1x, ./img/components/kisspng-chocolate_3_mob@2x.png 2x"
                          type="image/png"
                        />
                        <img
                          class=""
                          src="./img/components/kisspng-chocolate_3_mob@1x.png"
                          alt="nuts" 
                          width="224"
                          height="171"
                          loading="lazy"
                        />
                       </picture>
                      <p class="components-box-item">NUTS</p>
            </div>
        </li>
        <li class="components-item">
            <div class="components-box">
                    <picture class="components-card">
                        <!-- Desktop -->
                        <source
                          media="(min-width: 1200px)"
                          srcset="./img/components/kisspng-chocolate_4_desk@1x.png 1x, ./img/components/kisspng-chocolate_4_desk@2x.png 2x"
                          type="image/png"/>
                        <!-- Tablet, mobile -->
                        <source
                          media="(max-width: 1199px)"
                          srcset="./img/components/kisspng-chocolate_4_mob@1x.png 1x, ./img/components/kisspng-chocolate_4_mob@2x.png 2x"
                          type="image/png"
                        />
                        <img
                          class=""
                          src="./img/components/kisspng-chocolate_4_mob@1x.png"
                          alt="semi-sweet chokolate"
                          width="224"
                          height="171"
                          loading="lazy"
                        />
                       </picture>
                 <p class="components-box-item-dark">SEMI - SWEET CHOCOLATE</p>
            </div>
        </li>
       </ul>
    

</section>