<section class="unique-components">
    <h2 class="components-tittle">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="components-span">TASTE</span> SENSATION</h2>
    <p class="components-description">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
   
       <ul class="components-list">
        <li class="components-item">
            <div class="components-box">
                <div class="components-card">
                    <img  
                        srcset="../img/components/kisspng-chocolate_1_mob@1x.png 1x, ../img/components/kisspng-chocolate_1_mob@1x.png 2x"
                        src="../img/components/kisspng-chocolate_1_mob@1x.png"
                        alt="milk chokolate" 
                        width="100%"
                        loading="lazy">
                </div>
                <p class="components-box-item">MILK CHOCOLATE</p>
            </div>
        </li>
        <li class="components-item"> 
            <div class="components-box">
            <div class="components-card">
                <img  
                    srcset="../img/components/kisspng-chocolate_2_mob@1x.png 1x, ../img/components/kisspng-chocolate_2_mob@1x.png 2x"
                    src="../img/components/kisspng-chocolate_2_mob@1x.png"
                    alt="milk" 
                    width="100%"
                    loading="lazy">
            </div>
            <p class="components-box-item-dark">MILK</p>
        </div>
        </li>
        <li class="components-item">
            <div class="components-box">
                <div class="components-card">
                    <img  
                        srcset="../img/components/kisspng-chocolate_3_mob@1x.png 1x, ../img/components/kisspng-chocolate_3_mob@1x.png 2x"
                        src="../img/components/kisspng-chocolate_3_mob@1x.png"
                        alt="nuts" 
                        width="100%"
                        loading="lazy">
                </div>
                <p class="components-box-item">NUTS</p>
            </div>
        </li>
        <li class="components-item">
            <div class="components-box">
                <div class="components-card">
                    <img  
                        srcset="../img/components/kisspng-chocolate_4_mob@1x.png 1x, ../img/components/kisspng-chocolate_4_mob@1x.png 2x"
                        src="../img/components/kisspng-chocolate_4_mob@1x.png"
                        alt="semi-sweet chokolate" 
                        width="100%"
                        loading="lazy">
                </div>
                <p class="components-box-item-dark">SEMI - SWEET CHOCOLATE</p>
            </div>
        </li>
       </ul>
    

</section>