
<section class="unique-components">
    <div class="container ">


    <h2 class="components-tittle">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="components-span">TASTE</span> SENSATION</h2>
    <p class="components-motto">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
   
       <ul class="components-list">
        <li class="components-item">
            <div class="components-box">

               <picture class="components-card">
                        <!-- Desktop -->
                        <source
                          media="(min-width: 1200px)"
                          srcset="./img/components/kisspng-chocolate_1_desk@1x.png 1x, ./img/components/kisspng-chocolate_1_desk@2x.png 2x"
                          type="image/png"/>
                        <!-- Tablet, mobile -->
                        <source
                          media="(max-width: 1199px)"
                          srcset="./img/components/kisspng-chocolate_1_mob@1x.png 1x, ./img/components/kisspng-chocolate_1_mob@2x.png 2x"
                          type="image/png"
                        />
                        <img
                          class=""
                          src="./img/components/kisspng-chocolate_1_mob@1x.png"
                          alt="milk chokolate" 
                          width="224"
                          height="171"
                          loading="lazy"
                        />
                </picture>
                <p class="components-box-item">MILK CHOCOLATE</p>

                <div class="components-overlay">
                  <h3 class="components-overlay-tittle">Milk chocolate</h3>
                  <div class="components-btn">
                    <button 
                  class="components-overlay-btn">chocolate</button>
                  <button class="components-overlay-btn components-overlay-btn-light">the benefits</button>
                   </div>
                  <p class="components-overlay-description">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in the United States and Europe.</p>
                </div>

            </div>
        </li>
        <li class="components-item"> 
            <div class="components-box">

                <picture class="components-card">
                    <!-- Desktop -->
                    <source
                      media="(min-width: 1200px)"
                      srcset="./img/components/kisspng-chocolate_2_desk@1x.png 1x, ./img/components/kisspng-chocolate_2_desk@2x.png 2x"
                      type="image/png"/>
                    <!-- Tablet, mobile -->
                    <source
                      media="(max-width: 1199px)"
                      srcset="./img/components/kisspng-chocolate_2_mob@1x.png 1x, ./img/components/kisspng-chocolate_2_mob@2x.png 2x"
                      type="image/png"
                    />
                    <img
                      class=""
                      src="./img/components/kisspng-chocolate_2_mob@1x.png"
                      alt="milk" 
                      width="224"
                      height="171"
                      loading="lazy"
                    />
                   </picture>
                   <p class="components-box-item-dark">MILK</p>

                   <div class="components-overlay">
                    <h3 class="components-overlay-tittle">Milk</h3>
                    <div class="components-btn">
                      <button class="components-overlay-btn">milk</button>
                    <button class="components-overlay-btn components-overlay-btn-light">the benefits</button>
                    </div>
                    <p class="components-overlay-description">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.</p>
                  </div>

        </div>
        </li>
        <li class="components-item">
            <div class="components-box">

                    <picture class="components-card">
                        <!-- Desktop -->
                        <source
                          media="(min-width: 1200px)"
                          srcset="./img/components/kisspng-chocolate_3_desk@1x.png 1x, ./img/components/kisspng-chocolate_3_desk@2x.png 2x"
                          type="image/png"/>
                        <!-- Tablet, mobile -->
                        <source
                          media="(max-width: 1199px)"
                          srcset="./img/components/kisspng-chocolate_3_mob@1x.png 1x, ./img/components/kisspng-chocolate_3_mob@2x.png 2x"
                          type="image/png"
                        />
                        <img
                          class=""
                          src="./img/components/kisspng-chocolate_3_mob@1x.png"
                          alt="nuts" 
                          width="224"
                          height="171"
                          loading="lazy"
                        />
                       </picture>
                      <p class="components-box-item">NUTS</p>

                      <div class="components-overlay">
                        <h3 class="components-overlay-tittle">Nuts</h3>
                        <div class="components-btn">
                          <button  class="components-overlay-btn">Nuts</button>
                        <button class="components-overlay-btn components-overlay-btn-light">the benefits</button>
                        </div>
                        <p class="components-overlay-description">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                      </div>

            </div>
        </li>
        <li class="components-item">
            <div class="components-box">

                    <picture class="components-card">
                        <!-- Desktop -->
                        <source
                          media="(min-width: 1200px)"
                          srcset="./img/components/kisspng-chocolate_4_desk@1x.png 1x, ./img/components/kisspng-chocolate_4_desk@2x.png 2x"
                          type="image/png"/>
                        <!-- Tablet, mobile -->
                        <source
                          media="(max-width: 1199px)"
                          srcset="./img/components/kisspng-chocolate_4_mob@1x.png 1x, ./img/components/kisspng-chocolate_4_mob@2x.png 2x"
                          type="image/png"
                        />
                        <img
                          class=""
                          src="./img/components/kisspng-chocolate_4_mob@1x.png"
                          alt="semi-sweet chokolate"
                          width="224"
                          height="171"
                          loading="lazy"
                        />
                       </picture>
                    <p class="components-box-item-dark">SEMI - SWEET CHOCOLATE</p>

                 <div class="components-overlay">
                  <h3 class="components-overlay-tittle">semi - sweet chocolate</h3>
                  <div class="components-btn">
                  <button class="components-overlay-btn" type="button">sweet chocolate</button>
                  <button class="components-overlay-btn components-overlay-btn-light" type="button">the benefits</button>
                </div>
                  <p class="components-overlay-description">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
                </div>
            </div>
        </li>
       </ul>
    </div>


</section>