.footer {
  background-color: var(--background-deep-violet-color);
}
.footer-container {
  color: var(--white-full-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-conteiner-up {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .footer-conteiner-up {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 124px;
    margin-bottom: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-conteiner-up {
    margin-bottom: 82px;
    gap: 543px;
  }
}

.footer-slogan {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: -0.02em;

  color: var(--white-full-color);

  max-width: 300px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer-slogan {
    font-size: 28px;
    line-height: 1.21;
  }
}

.footer-orange-text {
  color: var(--accent-orange-color);
}
.footer-nav::before {
  content: '';
  display: inline-block;

  position: absolute;
  height: 1px;
  width: 335px;
  background: var(--line-footer-color);
  margin-top: -33px;
}

@media screen and (min-width: 768px) {
  .footer-nav::before {
    width: 704px;
    margin-top: -26px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-nav::before {
    width: 1136px;
  }
}

.footer-discription {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;

  margin-bottom: 14px;
}
.footer-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}

.footer-contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
}
.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-mobile-contacts {
  display: flex;
  flex-direction: row;
  gap: 113px;
}
@media screen and (min-width: 768px) {
  .footer-mobile-contacts {
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mobile-contacts {
    gap: 63px;
  }
}
.footer-social {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    gap: 18px;
  }
}
.footer-social-list-icon {
  stroke: var(--white-full-color);
  fill: var(--background-deep-violet-color);
}

@media screen and (min-width: 768px) {
  .footer-social-list-icon {
    width: 24px;
    height: 24px;
  }
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: -0.02em;
}
@media screen and (min-width: 768px) {
  .footer-menu-list {
    flex-direction: row;
    gap: 24px;
  }
}
