@media only screen and (max-width: 767px) {
  .top-header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .top-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.top-header-container {
  display: flex;
  align-items: center;
  min-height: 40px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.03em;

  color: var(--black-color);
  margin-right: auto;
}

.header-logo-icon {
  margin-left: 4px;
}

@media only screen and (min-width: 1200px) {
  .header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;

    letter-spacing: -0.03em;
  }
}

.header-menu {
}

.header-menu-nav {
}

@media only screen and (max-width: 1199px) {
  .header-menu-nav {
    display: none;
  }
}

.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;
  /* margin-left: 188px; */
  /* margin-right: 137px; */
}
.header-menu-item {
}
@media only screen and (min-width: 1200px) {
  .header-menu-link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.header-menu-link {
  /* del positio*/
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--black-color);
  transition: color var(--cubic-bezier);
}

.header-menu-link:is(:hover, :focus) {
  color: var(--accent-orange-color);
}

/* =======================Mobile-menu ====================*/

.menu-toggle {
  /* min-height: 40px; */
  /* min-width: 40px; */

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  border: none;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-close-btn {
  stroke: var(--white-full-color);
  width: 28px;
  height: 28px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-close-btn:is(:hover, :focus) {
  stroke: var(--accent-orange-color);
  scale: 1.3;
  /* width: 40px;
  height: 40px; */
}

.menu-container {
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;

  display: flex;
  flex-direction: column;

  width: 220px;
  height: 100%;

  background-color: var(--background-deep-violet-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

@media only screen and (min-width: 768px) {
  .menu-container {
    width: 290px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .menu-container .menu-toggle {
    top: 24px;
    right: 32px;
  }
}

.mobile-menu {
  margin-bottom: auto;
  padding-top: 136px;
  padding-left: 50px;
  /* display: block; */

  /* padding: 10px; */
  /* color: #fff; */
  /* text-decoration: none; */
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    padding-top: 156px;
    padding-left: 85px;
  }
}

.mobile-menu-items {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--white-full-color);
  transition: color var(--cubic-bezier);
}
.mobile-menu-items:is(:hover, :focus) {
  color: var(--accent-orange-color);
  font-weight: 600;
}

.mobile-menu-items:not(:last-child) {
  margin-bottom: 24px;
}

.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 50%;
  /* height: 4px; */

  border-radius: 2px;

  background-color: var(--accent-orange-color);
  bottom: 1px;
}

.mobile-menu-items:is(:hover, :focus)::after {
  /* color: var(--accent-orange-color); */
  content: '';
  position: relative;
  bottom: 0;
  left: 0;

  display: block;
  width: 50%;
  height: 1px;

  border-radius: 2px;

  background-color: var(--accent-orange-color);
  bottom: 1px;
  /* transition: background-color var(--cubic-bezier); */
}

.mobile-menu-items.active {
  color: var(--accent-orange-color);
}

/* ===================mobile-social-networks=================== */
.mobile-socials {
  display: flex;
  justify-content: flex-start;
  gap: 18px;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .mobile-socials {
    margin-left: 32px;
    margin-bottom: 24px;
  }
}

/* .mobile-social-list-item {
} */

.mobile-social-list-link {
  display: flex;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .mobile-social-list-link:is(:hover, :focus) {
  background-color: var(--ocean-button-color);
} */

.mobile-social-list-icon {
  stroke: var(--white-full-color);
  width: 22px;
  height: 22px;
  transition: stroke var(--cubic-bezier);
}

@media only screen and (min-width: 768px) {
  .mobile-social-list-icon {
    width: 24px;
    height: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-social-list-icon:is(:hover, :focus) {
    stroke: var(--accent-orange-color);
  }
}

/* ===================/mobile-social-networks=================== */

/* =======================/Mobile-menu ====================*/

.icon-burger-btn {
  stroke: var(--black-color);
  height: 28px;
  width: 28px;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-burger-btn {
    height: 32px;
    width: 32px;
  }
}

@media only screen and (max-width: 1199px) {
  .header-social-list {
    display: none;
  }
}

.header-social-list {
  display: flex;
  gap: 18px;
  margin-left: auto;
}

@media only screen and (max-width: 1199px) {
  .header-social-list {
    display: none;
  }
}

.header-social-list-item {
}
.header-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-social-list-icon {
  stroke: var(--black-color);
  fill: none;
  transition: stroke var(--cubic-bezier);
}

.header-social-list-icon:is(:hover, :focus) {
  stroke: var(--accent-orange-color);
}
