body {
  padding: 20px;
}

.top-header {
  outline: 2px solid tomato;
}

@media only screen and (max-width: 767px) {
  .top-header {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .top-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.top-header-container {
  display: flex;
  align-items: center;
  min-height: 40px;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.03em;

  color: var(--black-color);
  margin-right: auto;
}

.header-logo-icon {
  margin-left: 4px;
}

@media only screen and (min-width: 1200px) {
  .header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;

    letter-spacing: -0.03em;
  }
}

.header-menu {
}

.header-menu-nav {
}

@media only screen and (max-width: 1199px) {
  .header-menu-nav {
    display: none;
  }
}

.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;
  /* margin-left: 188px; */
  /* margin-right: 137px; */
}
.header-menu-item {
}
@media only screen and (min-width: 1200px) {
  .header-menu-link {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.header-menu-link {
  /* del positio*/
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: var(--black-color);
}

.header-menu-link:is(:hover, :focus)::after {
  color: var(--accent-orange-color);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 50%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--accent-orange-color);
  bottom: 1px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 50%;
  height: 4px;

  border-radius: 2px;

  background-color: var(--accent-orange-color);
  bottom: 1px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active {
  color: var(--accent-orange-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  border: none;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.icon-burger-btn {
  stroke: var(--black-color);
}

@media only screen and (max-width: 1199px) {
  .header-social-list {
    display: none;
  }
}

.header-social-list {
  display: flex;
  gap: 18px;
  margin-left: auto;
}

@media only screen and (max-width: 1199px) {
  .header-social-list {
    display: none;
  }
}

.header-social-list-item {
}
.header-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-social-list-icon {
  stroke: var(--black-color);
  fill: none;
}

.header-social-list-icon:is(:hover, :focus) {
  stroke: var(--accent-orange-color);
}
