.hero-item {
  max-width: 1200px;

  padding-top: 395px;
  padding-bottom: 20px;

  background-color: #e5ff00;
  margin: 0 auto;

  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-image: url(../img/hero/hero-mob.jpg);

  background-size: cover;
}

.hero-container {
  /* position: relative; */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-item {
    background-image: url(../img/hero/hero-mob@2x.jpg);
  }
}

@media only screen and (min-width: 376px) {
  .hero-item {
    background-image: url(../img/hero/hero-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
     {
      background-image: url(../img/hero/hero-tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero-item {
    background-image: url(../img/hero/hero-desk.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
     {
      background-image: url(../img/hero/hero-desk@2x.jpg);
    }
  }
}

.hero-text {
  max-width: 299px;
  color: var(--white-full-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.hero-thumb {
  /* border-radius: 50px; */
  /* width: 480px; */

  overflow: hidden;
}

.control-btn {
  display: flex;
  flex-wrap: wrap;
}

.buy-btn {
  /* font-family: var(--primary-font); */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--accent-orange-color);
  color: var(--white-full-color);

  border: none;
  border-radius: 100px;

  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  margin-right: 14px;
  margin-bottom: 32px;
}

.how-its-made {
  padding: 12px 28px;

  min-width: 159px;
  height: 41px;

  border: 1px solid #ffffff;
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--white-full-color);
}

.scr-item {
  position: relative;
  /* display: flex; */
}

.scr-btn {
  /* position: absolute; */
  /* left: 0px; */
  /* bottom: 0px; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29px;

  letter-spacing: -0.03em;

  color: var(--white-full-color);
}

.scr-btn-icon-wrapper {
  position: absolute;
  /* top: 24px; */
  /* right: 24px; */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;
  padding: 0;

  border-radius: 50%;
  background-color: var(--white-full-color);
  /* margin-left: 12px; */
}

.scr-btn-icon {
  fill: var(--accent-orange-color);
}
