.hero-container {
  padding-top: 395px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  margin: 0 auto;
  margin-bottom: 72px;
  background-color: var(--button-mobile-menu-close-bg-color);
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero/hero-mob.jpg);

  background-size: cover;
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .hero-item {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-item {
    margin-bottom: 50px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(../img/hero/hero-mob@2x.jpg);
  }
}

@media only screen and (min-width: 376px) {
  .hero-container {
    background-image: url(../img/hero/hero-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/hero/hero-tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero-container {
    background-image: url(../img/hero/hero-desk.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: url(../img/hero/hero-desk@2x.jpg);
    }
  }
}

.hero-text {
  max-width: 299px;
  color: var(--white-full-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 484px;

    font-size: 28px;
    line-height: 1.21;
  }
}

.control-btn {
  display: flex;
  flex-wrap: wrap;
}

.buy-btn {
  /* font-family: var(--primary-font); */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--accent-orange-color);
  color: var(--white-full-color);

  border: none;
  border-radius: 100px;

  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  margin-right: 14px;
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier);
}

@media only screen and (min-width: 768px) {
  .buy-btn {
    padding: 14px 40px;
    min-width: 144px;
    height: 45px;
  }
}

.buy-btn:is(:hover, :focus) {
  color: var(--accent-orange-color);
  background-color: var(--button-mobile-menu-close-bg-color);
}

.how-its-made-lnk {
  padding: 12px 28px;
  min-width: 159px;
  height: 41px;

  border: 1px solid #ffffff;
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  color: var(--white-full-color);
  margin-right: auto;
  transition: border var(--cubic-bezier), color var(--cubic-bezier);
}

.how-its-made-lnk:is(:hover, :focus) {
  color: var(--accent-orange-color);
  border-color: var(--accent-orange-color);
}

@media only screen and (min-width: 768px) {
  .how-its-made-lnk {
    padding: 14px 40px;

    width: 183px;
    height: 45px;
  }
}

.scr-btn {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17px;

  letter-spacing: -0.03em;

  color: var(--white-full-color);
  margin-top: 32px;
  transition: color var(--cubic-bezier);
}

@media only screen and (min-width: 768px) {
  .scr-btn {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .scr-btn {
    font-size: 14px;
    line-height: 1.29;
  }
}

.scr-btn:is(:hover, :focus) {
  color: var(--accent-orange-color);
}

.scr-btn:is(:hover, :focus) .scr-btn-icon {
  fill: var(--white-full-color);
}
.scr-btn:is(:hover, :focus) .bck-color-icon {
  background-color: var(--accent-orange-color);
}

.bck-color-icon {
  background-color: var(--white-full-color);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--cubic-bezier);
}

.scr-btn-icon {
  fill: var(--accent-orange-color);
  width: 16px;
  height: 16px;

  padding: 0;
  transition: fill var(--cubic-bezier);
}

@media only screen and (min-width: 768px) {
  .bck-color-icon {
    width: 38px;
    height: 38px;
  }
  .scr-btn-icon {
    width: 22px;
    height: 22px;
  }
}
