.section-how-its-made {
  padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .section-how-its-made {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-its-made {
    padding-bottom: 128px;
  }
}

.how-its-made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--black-color);

  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .how-its-made-title {
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.how-its-made-orange-text {
  color: var(--accent-orange-color);
}

.how-its-made-video {
  width: 335px;
  height: 500px;
  border: none;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .how-its-made-video {
    width: 614px;
    height: 400px;

    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-video {
    width: 600px;

    border-radius: 15px;
  }
}

.how-its-made-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .how-its-made-container {
    flex-direction: row;
  }
}

.how-its-made-preparation {
  padding: 20px 14px;

  background: var(--white-full-color);
  border-radius: 15px;
}

@media screen and (min-width: 375px) {
  .how-its-made-preparation {
    max-width: 335px;
    /* height: 100%; */
  }
}

@media screen and (min-width: 768px) {
  .how-its-made-preparation {
    max-width: 614px;
    height: 100%;
    padding: 32px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .how-its-made-preparation {
    max-width: 516px;
    height: 100%;
    padding: 32px;
  }
}
.how-its-made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .how-its-made-subtitle {
    max-width: 350px;
    margin-bottom: 28px;
  }
}

.how-its-made-list {
  min-width: 321px;
  padding: 20px 14px;
  padding-bottom: 0;
  list-style-image: url(/img/how-its-made/dot.svg);
  /* list-style-type: disc; */
}
@media screen and (min-width: 768px) {
  .how-its-made-list {
    padding: 0 0 0 16px;
    max-width: 550px;
  }
}
@media screen and (min-width: 1200px) {
  .how-its-made-list {
    padding: 0 0 0 14px;
    max-width: 452px;
  }
}

.how-its-made-discription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
}

.how-its-made-item:not(:last-child) {
  margin-bottom: 18px;
}
@media screen and (min-width: 1200px) {
  .how-its-made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
