.buy-modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 311px;
  height: 95%;
  background: var(--background-main-color);
  border-radius: 15px;
  padding: 32px 24px;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity var(--cubic-bezier), visibility var(--cubic-bezier);
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .buy-modal-container {
    max-width: 609px;
    max-height: 1058px;
    padding: 48px;
  }
}

.buy-window-modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  stroke: var(--black-color);
  background-color: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-window-modal-button:hover,
.buy-window-modal-button:focus {
  stroke: var(--accent-orange-color);
  scale: 1.3;
}

@media only screen and (min-width: 768px) {
  .buy-window-modal-button {
    top: 24px;
    right: 24px;
  }
}

.buy-modal-window-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-orange-color);
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .buy-modal-window-title {
    font-size: 24px;
    line-height: 1.17;
  }
}

.buy-modal-window-span {
  color: var(--black-color);
}

.modal-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 8px; */
  height: 85px;
  padding: 8px 16px;
  background: var(--white-full-color);
  border: 1px solid var(--button-card-border-color);
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .modal-list-container {
    flex-direction: column;
    width: 160px;
    height: 196px;
    padding-top: 24px;
    padding-bottom: 18px;
    gap: 14px;
  }
}

.buy-now-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .buy-now-list {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  .modal-window-image {
    width: 120px;
  }
}

.grams-button {
  margin-left: auto;
  width: 70px;
  height: 29px;
  background: var(--background-main-color);
  border: 1px solid var(--button-card-border-color);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .grams-button {
    margin: 0;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.input-container.personal-info {
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .input-container.personal-info {
    flex-direction: row;
    gap: 21px;
  }
}

.buy-form-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-modal-color);
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .buy-form-label {
    font-size: 14px;
    line-height: 1.29;
  }
}

.buy-form-label-span {
  display: block;
  margin-bottom: 8px;
}

.buy-form-input {
  padding: 14px 18px;
  gap: 40px;
  width: 100%;
  height: 45px;
  border: 1.5px solid var(--input-border-color);
  outline: none;
  border-radius: 8px;
  background-color: var(--background-main-color);
  transition: border-color var(--cubic-bezier);
}

.buy-form-input::placeholder {
  color: var(--text-placeholder-color);
}

.buy-form-input:hover,
.buy-form-input:focus {
  border-color: var(--accent-orange-color);
}

@media only screen and (min-width: 768px) {
  .buy-form-input {
    height: 66px;
  }

  .personal-info .buy-form-input {
    width: 246px;
  }
}

.input-container.mastercard {
  position: relative;
}

.input-container.mastercard .card-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .input-container.mastercard .card-icon {
    width: 44px;
    height: 30px;
  }
}

.buy-form-input.comment {
  gap: 40px;
  height: 91px;
  border: 1.5px solid var(--input-border-color);
  border-radius: 8px;
  outline: none;
  resize: none;
  transition: border-color var(--cubic-bezier);
}

.buy-form-input.comment:hover,
.buy-form-input.comment:focus {
  border-color: var(--accent-orange-color);
}

@media only screen and (min-width: 768px) {
  .buy-form-input.comment {
    height: 137px;
  }
}

.buy-form-button-submit {
  background: var(--accent-orange-color);
  border-radius: 100px;
  border: none;
  width: 109px;
  height: 41px;
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-full-color);
  transition: background-color var(--cubic-bezier), color var(--cubic-bezier);
}

.buy-form-button-submit:is(:hover, :focus) {
  color: var(--accent-orange-color);
  background-color: var(--button-mobile-menu-close-bg-color);
}

.input-container.tel {
  position: relative;
}

.buy-form-input.number {
  padding-left: 110px;
}

.tel-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  margin-right: 8px;
  transform: translateY(-50%);
}

.tel-code {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-weight: 500;
}

.tel-code-line {
  position: absolute;
  display: block;
  top: 50%;
  left: 75px;
  transform: translateY(-50%);
  width: 2px;
  height: 24px;
  margin-left: 20px;
  background-color: var(--input-border-color);
}

@media only screen and (min-width: 768px) {
  .tel-icon {
    width: 32px;
    height: 32px;
  }

  .tel-code {
    left: 60px;
  }

  .tel-code-line {
    left: 90px;
  }

  .buy-form-input.number {
    padding-left: 130px;
  }
}
