.subscribe {
  padding: 62px 20px;
  max-width: 375px;
  background-image: url(../img/subscribe/Subcribe1x-375.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-header {
  margin-bottom: 24px;
  max-width: 290px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--white-full-color);
}

.subscribe-text {
  margin-bottom: 24px;
  max-width: 326px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--white-full-color);
}

.subscribe-btn {
  padding: 12px 28px;
  background-color: var(--accent-orange-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white-full-color);
  border-radius: 100px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #fcf1e0;
  color: var(--contrast-color);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .subscribe {
    background-image: url(../img/subscribe/Subcribe2x-375.jpg);
  }
}
