.top-sellers {
}
.top-sellers-section {
  max-width: 100%;
  margin: 0 20px;
}

.top-sellers-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fd9222;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}
.title-span {
  color: black;
}
.top-sellers-list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 16px;
}
.top-sellers-image {
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: 32px;
}

.top-sellers-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  width: 306px;
  padding-left: 32px;
  
}
.top-sellers-block {
  display: flex;
  align-items: center;
  margin: 32px 0 164px 0;
 
}
.top-sellers-button-container {
display: block;

margin-left: auto;
padding-right: 32px;
}

@media screen and (min-width: 1200px) {
  .top-sellers-text {
    min-width: 406px;
  }
}

.top-sellers-button {
  background: #fd9222;
  border-radius: 100px;
  border: none;
  width: 120px;
  height: 41px;
  
}
.buy-now {
  width: 64px;
  height: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  
}
.top-sellers-button:hover {
  background: #fcf1e0;
}
.buy-now:hover {
  color: #fd9222;
}

@media screen and (max-width: 1199.9px) {
  .top-sellers-none {
    display: none;
  }
}
