.top-sellers-section {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .top-sellers-section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-section {
    padding-bottom: 128px;
  }
}

.top-sellers-text-none {
  padding-top: 20px;
  padding-bottom: 32px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: var(--black-color);
}

@media screen and (min-width: 768px) {
  .top-sellers-text-none {
    display: none;
  }
}

.top-sellers-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--accent-orange-color);
  text-align: center;
  letter-spacing: -0.03em;
  padding-bottom: 32px;
  margin: auto;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .top-sellers-title {
    font-size: 24px;
    line-height: 1.17;
  }
}
.title-span {
  color: black;
}
.top-sellers-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 16px;
  overflow: hidden;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .top-sellers-list {
    flex-wrap: nowrap;
  }
}
.top-sellers-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
  max-width: 306px;
  display: none;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .top-sellers-text {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-text {
    min-width: 406px;
  }
}

@media screen and (min-width: 768px) {
  .top-sellers-img {
    max-width: 344px;
  }
}
@media screen and (min-width: 1200px) {
  .top-sellers-img {
    max-width: 368px;
  }
}

.top-sellers-block {
  display: flex;
  justify-items: center;
  width: 100%;
}
.top-sellers-button-container {
  display: flex;
  margin: auto;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .top-sellers-button-container {
    margin: 0;
    justify-content: space-between;
    margin-left: auto;
    padding-top: 32px;
  }
}

.top-sellers-button {
  /* font-family: var(--primary-font); */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background-color: var(--accent-orange-color);
  color: var(--white-full-color);

  border: none;
  border-radius: 100px;

  padding: 10px 15px;
  margin-right: 14px;

  min-width: 95px;
  height: 41px;

  transition: background-color var(--cubic-bezier), color var(--cubic-bezier);
}

@media only screen and (min-width: 375px) {
  .top-sellers-button {
    padding: 12px 28px;
    min-width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .top-sellers-button {
    padding: 14px 40px;
    min-width: 144px;
    height: 45px;
  }
}

.top-sellers-button:is(:hover, :focus) {
  color: var(--accent-orange-color);
  background-color: var(--button-mobile-menu-close-bg-color);
}

@media screen and (max-width: 1199.9px) {
  .top-sellers-none {
    display: none;
  }
}
