.unique-components {
  padding-top: 72px;
  padding-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .unique-components {
    padding-top: 100px;
    padding-bottom: 100px;
     }
}

@media only screen and (min-width: 1200px) {
  .unique-components {
    padding-top: 117px;
    padding-bottom: 139px;
    
  }
}
.components-tittle {
  width: 283px;
  margin: 0 auto 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

@media only screen and (min-width: 768px) {
  .components-tittle {
    width: 411px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-tittle {
    line-height: 28px;
  }
}
.components-span {
  color: var(--accent-orange-color);
}

.components-motto {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  text-align: center;
  color: var(--black-color);
}
@media only screen and (min-width: 768px) {
  .components-motto {
    width: 486px;
  }
}
.components-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 24px auto 0;
}
@media only screen and (min-width: 768px) {
  .components-list {
    gap: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-item:nth-child(4) {
    order: 2;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-item:nth-child(2) {
    order: 3;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .components-item:nth-child(3) {
    order: 4;
  }
}
@media only screen and (min-width: 1200px) {
  .components-list {
    width: 1136px;
    gap: 18px;
  }
}
@media only screen and (max-width: 767px) {
  .components-item {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
  }
}
@media only screen and (min-width: 768px) {
  .components-item {
    width: 336px;
    overflow: hidden;
    transition: transform 250ms ease-in-out;
  }
}
@media only screen and (min-width: 1200px) {
  .components-item {
    width: 270px;
    
  }
}
.components-item:nth-child(1) {
  border-radius: 15px;
  background-color: var(--accent-orange-color);
  border: 1px solid var(--accent-orange-color);
}
.components-item:nth-child(2) {
  background-color: var(--white-full-color);
  border: 1px solid var(--accent-orange-color);

  border-radius: 15px;
}
.components-item:nth-child(4) {
  background-color: var(--white-full-color);
  border: 1px solid var(--accent-orange-color);

  border-radius: 15px;
}
.components-item:nth-child(3) {
  border-radius: 15px;

  background-color: var(--background-deep-violet-color);
  border: 1px solid var(--background-deep-violet-color);
}
.components-box {
  display: flex;
  position: relative;

  height: 270px;
  padding-top: 28px;
  align-items: flex-start;
  justify-content: center;
}

/*------ overlay----*/

.components-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 104%;
  padding: 20px;
  background-color: var(--white-full-color);
  opacity: 0;
  transform: opacity(0);
  overflow: auto;
}

@media only screen and (min-width: 1200px) {
  .components-overlay {
    padding-right: 4px;
  }
}
.components-item:hover,
.components-item:hover .components-overlay {
  border: 1px solid var(--white-full-color);
 
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.components-overlay-tittle {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.components-btn {
  display: inline;

}
.components-overlay-btn {
  align-items: center;
  padding: 6px 16px;
  background-color: var(--accent-orange-color);
  border: 1px solid var(--accent-orange-color);
  border-radius: 35px;
  color: var(--white-full-color);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}


.components-overlay-btn-light {
  background-color: var(--background-main-color);
  border: 1px solid var(--accent-orange-color);
  color: var(--black-color);
  margin-left: 6px;
}

.components-overlay-description {
  margin-top: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.components-card {
  align-items: center;
  width: 224px;
  height: 171px;
}
@media only screen and (min-width: 1200px) {
  .components-card {
    width: 206px;
    height: 160px;
  }
}
.components-box-item {
  position: absolute;
  left: 28px;
  bottom: 28px;

  color: var(--white-full-color);
}
.components-box-item-dark {
  position: absolute;
  left: 28px;
  bottom: 28px;

  color: var(--black-color);
}
